{% extends 'base.html' %}
{% block content %}
<section class="text-gray-500 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white"><u>HELP PAGE</u></h1>
        <ul>
        <li><p class="lg:w-2/3 mx-auto leading-relaxed text-base"> <b>☆</b> If you do not want to show some information on your profile, simply leave that field <b> EMPTY </b> in the main-form and if you leave any section completely blank, that section will not appear anywhere on your profile and if it still shows, make sure there are no white spaces left in the fields </p></li>
        <br><br>
        <li><p class="lg:w-2/3 mx-auto leading-relaxed text-base"> <b>☆</b> check your profile by visiting /yourUsername on this domain, remember this link is shareable! </p></li>
        <br><br>
        <li><p class="lg:w-2/3 mx-auto leading-relaxed text-base"> <b>☆</b> goto /skrstv123 to see how a completed profile willl look like ( if you haven't yet created yours ) </p></li>
        <br><br>
        <li><p class="lg:w-2/3 mx-auto leading-relaxed text-base"> <b>☆</b> if you want to have your own domain name you can always use something like .tk or .ml free domains </p></li>
        </ul>
    </div>
    </div>
  </section>
{% endblock content %}